/*
  https://www.joshwcomeau.com/css/custom-css-reset/
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

/* actual css */
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.info {
  background-color: lightgray;
}
.book-display {
  display: grid;
  background-color: lightskyblue;
  grid-template-columns: repeat(auto-fit, minmax(100px, 150px));
  grid-template-rows: minmax(20px, 10%) repeat(auto-fit, minmax(150px, 200px)); 
  gap: 10px;
  flex-grow: 1;
  padding: 10px;
  align-items: start;
}
h3.book-display-header {
  grid-column: 1/-1;
}
.book {
  display: flex;
  flex-direction: column;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  padding: 5px;
  min-height: 150px;
}
.new-book-section {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: lightgreen;
  align-items: center;
}
#show-book-form {
  margin: 20px 0;
  border-radius: 10px;
}